<h2 class="font-bold text-[40px] leading-[1.2] mb-[44px]">
  Available workspaces
</h2>
<div class="space-y-[24px] mb-[15px]">
  <div class="bg-white rounded-2xl">
    <div class="flex p-[16px] items-start">
      <div class="min-w-0 max-w-[340px] mr-[32px]">
        <div class="mb-[12px]">
          <swiper-container thumbs-swiper=".slider--pag">
            <swiper-slide
              ><img
                class="rounded-2xl"
                src="images\workspaces\Openspace.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images\workspaces\Openspace-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images\workspaces\Openspace-3.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images\workspaces\Openspace-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
        <div>
          <swiper-container
            slides-per-view="4"
            mousewheel-force-to-axis="true"
            space-between="8px"
            class="slider card__slider--pag"
          >
            <swiper-slide
              ><img
                class="rounded-lg"
                src="images\workspaces\Openspace.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images\workspaces\Openspace-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images\workspaces\Openspace-3.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images\workspaces\Openspace-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
      </div>
      <div class="grow">
        <div>
          <span class="text-[32px] leading-[1.2] mb-[12px] block font-bold"
            >Open space</span
          >
          <p class="mb-[32px] max-w-[648px] text-base leading-6 text-[#6B6B6B]">
            A vibrant shared area perfect for freelancers or small teams who
            enjoy a collaborative atmosphere. Choose any available desk and get
            to work with flexibility and ease.
          </p>
        </div>
        <div class="flex">
          <div class="basis-[50%]">
            <span class="mb-[12px] block font-semibold">Amenities</span>
            <ul class="flex space-x-[12px]">
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/conditioner.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/play.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/wifi.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/tea.svg"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div>
            <span class="block mb-[12px] font-semibold">Availability</span>
            <div class="flex items-center">
              <div class="rounded-[12px] bg-[#F5F3FB] p-[10px] mr-[16px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/human.svg"
                  alt=""
                />
              </div>
              <span class="text-[20px] leading-[1.2] font-medium"
                >24 desks</span
              >
            </div>
          </div>
        </div>
      </div>
      <button
        class="bg-[#5C5AF3] text-[#ffffff] text-base py-[14.5px] px-[52px] rounded-lg"
      >
        Book now
      </button>
    </div>
  </div>
  <div class="bg-white rounded-2xl">
    <div class="flex p-[16px] items-start">
      <div class="min-w-0 max-w-[340px] mr-[32px]">
        <div class="mb-[12px]">
          <swiper-container thumbs-swiper=".slider--pag">
            <swiper-slide
              ><img
                class="rounded-2xl"
                src="images/workspaces/Privateroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images/workspaces/Privateroom-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images/workspaces/Privateroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images\workspaces\Openspace-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
        <div>
          <swiper-container
            slides-per-view="4"
            mousewheel-force-to-axis="true"
            space-between="8px"
            class="slider card__slider--pag"
          >
            <swiper-slide
              ><img
                class="rounded-lg"
                src="images/workspaces/Privateroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images/workspaces/Privateroom-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images/workspaces/Privateroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images\workspaces\Openspace-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
      </div>
      <div class="grow">
        <div>
          <span class="text-[32px] leading-[1.2] mb-[12px] block font-bold"
            >Private rooms</span
          >
          <p class="mb-[32px] max-w-[648px] text-base leading-6 text=[#6B6B6B]">
            Ideal for focused work, video calls, or small team huddles. These
            fully enclosed rooms offer privacy and come in a variety of sizes to
            fit your needs.
          </p>
        </div>
        <div class="flex mb-[32px]">
          <div class="basis-[50%]">
            <span class="mb-[12px] block font-semibold">Amenities</span>
            <ul class="flex space-x-[12px]">
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/wifi.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/conditioner.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/music.svg"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div>
            <span class="block mb-[12px] font-semibold">Capacity options</span>
            <div class="flex items-center">
              <div class="rounded-[12px] bg-[#F5F3FB] p-[10px] mr-[16px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/human.svg"
                  alt=""
                />
              </div>
              <span class="text-[20px] leading-[1.2] font-medium"
                >1, 2, 5, 10 people</span
              >
            </div>
          </div>
        </div>
        <div>
          <span class="block mb-[12px] font-semibold">Availability</span>
          <ul class="space-y-[12px]">
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">7 rooms</span> for 1
              person
            </li>
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">4 rooms</span> for up
              to 2 people
            </li>
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">3 rooms</span> for up
              to 5 people
            </li>
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">1 room </span>for up to
              10 people
            </li>
          </ul>
        </div>
      </div>
      <button
        class="bg-[#5C5AF3] text-[#ffffff] text-basis py-[14.5px] px-[52px] rounded-lg"
      >
        Book now
      </button>
    </div>
  </div>
  <div class="bg-white rounded-2xl">
    <div class="flex p-[16px] items-start">
      <div class="min-w-0 max-w-[340px] mr-[32px]">
        <div class="mb-[12px]">
          <swiper-container thumbs-swiper=".slider--pag">
            <swiper-slide
              ><img
                class="rounded-2xl"
                src="images/workspaces/Meetingroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images/workspaces/Meetingroom-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images/workspaces/Meetingroom-3.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-2xl"
                src="images/workspaces/Meetingroom-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
        <div>
          <swiper-container
            slides-per-view="4"
            mousewheel-force-to-axis="true"
            space-between="8px"
            class="slider card__slider--pag"
          >
            <swiper-slide
              ><img
                class="rounded-lg"
                src="images/workspaces/Meetingroom.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images/workspaces/Meetingroom-2.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images/workspaces/Meetingroom-3.jpg"
                alt=""
            /></swiper-slide>
            <swiper-slide>
              <img
                class="rounded-lg"
                src="images/workspaces/Meetingroom-4.jpg"
                alt=""
            /></swiper-slide>
          </swiper-container>
        </div>
      </div>
      <div class="grow">
        <div>
          <span class="text-[32px] leading-[1.2] mb-[12px] block font-bold"
            >Meeting rooms</span
          >
          <p class="mb-[32px] max-w-[648px] text-base leading-6 text=[#6B6B6B]">
            Designed for productive meetings, workshops, or client
            presentations. Equipped with screens, whiteboards, and comfortable
            seating to keep your sessions running smoothly.
          </p>
        </div>
        <div class="flex mb-[32px]">
          <div class="basis-[50%]">
            <span class="mb-[12px] block font-semibold">Amenities</span>
            <ul class="flex space-x-[12px]">
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/wifi.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/conditioner.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/music.svg"
                  alt=""
                />
              </li>
              <li class="rounded-[10px] bg-[#F5F3FB] p-[15px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/microphone.svg"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div>
            <span class="block mb-[12px] font-semibold">Capacity options</span>
            <div class="flex items-center">
              <div class="rounded-[12px] bg-[#F5F3FB] p-[10px] mr-[16px]">
                <img
                  class="w-[24px] h-[24px]"
                  src="images/workspaces/icons/human.svg"
                  alt=""
                />
              </div>
              <span class="text-[20px] leading-[1.2] font-medium"
                >10 or 20 people</span
              >
            </div>
          </div>
        </div>
        <div>
          <span class="block mb-[12px] font-semibold">Availability</span>
          <ul class="space-y-[12px]">
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">4 rooms </span> for up
              to 10 people
            </li>
            <li class="text-base text-[#6B6B6B] leading-[1.2]">
              <span class="font-semibold text-[#000000]">1 room</span> for up to
              20 people
            </li>
          </ul>
        </div>
      </div>
      <button
        class="bg-[#5C5AF3] text-[#ffffff] text-basis py-[14.5px] px-[52px] rounded-lg"
      >
        Book now
      </button>
    </div>
  </div>
</div>
