/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:root {
  --background-color: #f7f6f9;
  --text-color: #2d2d2d;
  --text-font: "Inter", sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}
